<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Electricity Bill Calculator</title>

    <style>
        body {
            margin: 20px 0;
            font-family: 'Calibri';
        }

        #bill {
            margin: 0 auto;
            border: 1px solid #666666;
            border-radius: 8px;
            padding: 5px;
        }

        #bill td {
            padding: 0 10px;
        }

        input[type="number"] {
            width: 70px;
            direction: ltr;
            font-size: 12pt;
        }

        button {
            font-size: 18pt;
            width: 56px;
            height: 56px;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app">
        <div style="width: 400px; margin: 0 auto; font-size: 16pt; direction:rtl;">

            <table style="margin: 0 auto; width: 90%;">
                <tr>
                    <td>الاستهلاك الأساسي (KW): </td>
                    <td>
                        <input v-model="mainKW" type="number" />
                    </td>
                    <td rowspan="2">
                        <button @click="calculate" :disabled="!mainKW">💸</button>
                    </td>
                </tr>
                <tr>
                    <td>استهلاك المحل (KW): </td>
                    <td>
                        <input v-model="renterKW" type="number" />
                    </td>
                </tr>
            </table>

            <br>

            <table id="bill" v-if="totalBillValue">
                <tr style="font-weight: bold;">
                    <td>الشطر</td>
                    <td>سعر الوحدة</td>
                    <td>قيمة الشطور</td>
                </tr>
                <tr v-for="(item, index) in shotoor">
                    <td>{{ item.value }}</td>
                    <td>× {{ item.cost }}</td>
                    <td>= {{ (item.value * item.cost) }}</td>
                    <td v-if="index == shotoor.length - 1">+</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr>
                    </td>
                </tr>
                <tr style="font-weight: bold;">
                    <td colspan="2">
                        مجموع قيمة الشطور
                    </td>
                    <td>{{ totalKwValue }}</td>
                    <td>=</td>
                </tr>
                <tr>
                    <td colspan="2">
                        قيمة الرسوم الثابتة
                    </td>
                    <td>{{ fee }}</td>
                    <td>+</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr>
                    </td>
                </tr>
                <tr style="font-weight: bold;">
                    <td colspan="2">
                        مجموع خدمات الطاقة
                    </td>
                    <td>{{ (totalKwValue + fee) }}</td>
                    <td>=</td>
                </tr>
                <tr>
                    <td>
                        TVA
                    </td>
                    <td>{{ tva + '%' }}</td>
                    <td>{{ tvaValue }}</td>
                </tr>
                <tr>
                    <td colspan="2">طابع</td>
                    <td>{{ stamp }}</td>
                </tr>
                <tr>
                    <td colspan="2">تدوير الألف</td>
                    <td>{{ tadweer }}</td>
                    <td>+</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr>
                    </td>
                </tr>
                <tr style="font-weight: bold; color:darkgreen">
                    <td colspan="2">
                        الفاتورة الأساسية
                    </td>
                    <td>{{ totalBillValue }}</td>
                    <td>=</td>
                </tr>
                <tr style="font-weight: bold; color:firebrick;">
                    <td colspan="2">
                        فاتورة المحل
                    </td>
                    <td>{{ renterBillValue }}</td>
                    <td style="font-weight: normal;font-size: 12pt;padding:0">{{ renterRate }}</td>
                </tr>
            </table>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                mainKW: null,
                renterKW: null,
                totalKwValue: null,
                totalBillValue: null,
                fee: 31600,
                tva: 11,
                stamp: 1000,
                tadweer: null,
                shotoor: []
            },
            computed: {
                renterBillValue: function () {
                    let x = Math.ceil((this.renterKW / this.mainKW) * this.totalBillValue);
                    return (x >= 0 && x <= this.totalBillValue) ? x : 0;
                },
                renterRate: function () {
                    let x = Math.round(this.renterKW * 100 / this.mainKW);
                    return ((x >= 0 && x <= 100) ? x : 0) + '%';
                },
                tvaValue: function () {
                    return Math.round((this.totalKwValue + this.fee) * this.tva / 100);
                }
            },
            methods: {
                calculate: function () {
                    let x = this.mainKW;

                    let totalKwValue = 0;
                    let shotoor = [];

                    if (x <= 200) {
                        totalKwValue = x * 35;
                        shotoor = [
                            { value: x, cost: 35 }
                        ];
                    }
                    else if (x > 200 && x <= 600) {
                        totalKwValue = (200 * 35) + ((x - 200) * 55);
                        shotoor = [
                            { value: x - 200, cost: 55 },
                            { value: 200, cost: 35 }
                        ];
                    }
                    else if (x > 600 && x <= 800) {
                        totalKwValue = (200 * 35) + (400 * 55) + ((x - 600) * 80);
                        shotoor = [
                            { value: x - 600, cost: 80 },
                            { value: 400, cost: 55 },
                            { value: 200, cost: 35 }
                        ];
                    }
                    else if (x > 800 && x <= 1000) {
                        totalKwValue = (200 * 35) + (400 * 55) + (200 * 80) + ((x - 800) * 120);
                        shotoor = [
                            { value: x - 800, cost: 120 },
                            { value: 200, cost: 80 },
                            { value: 400, cost: 55 },
                            { value: 200, cost: 35 }
                        ];
                    }
                    else {
                        totalKwValue = (200 * 35) + (400 * 55) + (200 * 80) + (200 * 120) + ((x - 1000) * 200);
                        shotoor = [
                            { value: x - 1000, cost: 200 },
                            { value: 200, cost: 120 },
                            { value: 200, cost: 80 },
                            { value: 400, cost: 55 },
                            { value: 200, cost: 35 }
                        ];
                    }

                    this.totalKwValue = totalKwValue;

                    let total = ((totalKwValue + this.fee) * (1 + (this.tva / 100))) + 1000;

                    this.totalBillValue = Math.ceil(total / 1000) * 1000;

                    this.tadweer = this.totalBillValue - Math.floor(total);

                    this.shotoor = shotoor;
                }
            }
        });
    </script>
</body>

</html>
