<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Electricity Bill Calculator</title>

    <style>
        body {
            margin: 0;
            font-family: 'Calibri';
        }

        #bill {
            margin: 0 auto;
            border: 1px solid #666666;
            border-radius: 8px;
            padding: 5px;
        }

        #bill td {
            padding: 0 10px;
        }

        input[type="number"] {
            width: 70px;
            direction: ltr;
            font-size: 12pt;
        }

        .button {
            font-size: 30px;
            text-align: center;
            cursor: pointer;
        }

        .title {
            text-align: center;
            font-weight: bold;
            background: #f1f1f1;
            padding: 10px;
            margin-top: 0;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app">
        <div style="width: 400px; margin: 0 auto; font-size: 16pt; direction:rtl;">

            <p class="title">⚡ احتساب فاتورة الكهرباء عن شهرين ⚡</p>

            <table style="margin: 0 auto; width: 90%;">
                <tr>
                    <td>الاستهلاك الأساسي : </td>
                    <td>
                        <span style="font-size: 18px;">kW</span> <input v-model="mainKW" type="number" tabindex="1" :autofocus="'autofocus'" />
                    </td>
                    <td rowspan="2">
                        <div class="button" title="Calculate" @click="display" tabindex="3">💸</div>
                    </td>
                </tr>
                <tr>
                    <td>استهلاك المستأجر : </td>
                    <td>
                        <span style="font-size: 18px;">kW</span> <input v-model="renterKW" type="number" tabindex="2" />
                    </td>
                </tr>
            </table>

            <br>

            <table id="bill" v-if="totalBillValue">
                <tr style="font-weight: bold;">
                    <td>الشطر</td>
                    <td>سعر الوحدة</td>
                    <td>قيمة الشطور</td>
                </tr>
                <tr v-for="(item, index) in shotoor">
                    <td>{{ item.value }}</td>
                    <td>× {{ item.cost }}</td>
                    <td>= {{ (item.value * item.cost).toLocaleString() }}</td>
                    <td v-if="index == shotoor.length - 1">+</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr>
                    </td>
                </tr>
                <tr style="font-weight: bold;">
                    <td colspan="2">
                        مجموع قيمة الشطور
                    </td>
                    <td>{{ totalKwValue.toLocaleString() }}</td>
                    <td>=</td>
                </tr>
                <tr>
                    <td colspan="2">
                        قيمة الرسوم الثابتة
                    </td>
                    <td>{{ fee.toLocaleString() }}</td>
                    <td>+</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr>
                    </td>
                </tr>
                <tr style="font-weight: bold;">
                    <td colspan="2">
                        مجموع خدمات الطاقة
                    </td>
                    <td>{{ (totalKwValue + fee).toLocaleString() }}</td>
                    <td>=</td>
                </tr>
                <tr>
                    <td>
                        TVA
                    </td>
                    <td>{{ tva + '%' }}</td>
                    <td>{{ tvaValue.toLocaleString() }}</td>
                </tr>
                <tr>
                    <td colspan="2">طابع</td>
                    <td>{{ stamp.toLocaleString() }}</td>
                </tr>
                <tr>
                    <td colspan="2">تدوير الألف</td>
                    <td>{{ tadweer }}</td>
                    <td>+</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr>
                    </td>
                </tr>
                <tr style="font-weight: bold; color:darkgreen">
                    <td colspan="2">
                        الفاتورة الأساسية
                    </td>
                    <td>{{ totalBillValue.toLocaleString() }}</td>
                    <td>=</td>
                </tr>
                <tr style="font-weight: bold; color:firebrick;">
                    <td colspan="2">
                        فاتورة المستأجر
                    </td>
                    <td>
                        {{ renterBillValue[0].toLocaleString() }}
                        <span style="font-size: 14px;">&nbsp;avg</span>
                    </td>
                    <td style="font-weight: normal;font-size: 12pt;padding:0"></td> <!-- {{ isRelative ? renterRate : null }} -->
                </tr>
                <tr style="font-weight: bold; color:firebrick;">
                    <td colspan="2"></td>
                    <td>
                        {{ renterBillValue[1].toLocaleString() }}
                        <span style="font-size: 14px;">&nbsp;max</span>
                    </td>
                    <td style="font-weight: normal;font-size: 12pt;padding:0"></td> <!-- {{ isRelative ? renterRate : null }} -->
                </tr>
            </table>

            <div style="font-size: 18px; margin: 30px 10px; color: #333333" v-if="totalBillValue">
                <u>طريقة احتساب فاتورة المستأجر:</u>
                <br />
                <ul style="list-style: none; padding: 0 10px 0 0;">
                    <li>قيمة الاستهلاك الأساسي ← <b>A</b></li>
                    <li>قيمة استهلاك المستأجر ← <b>B</b></li>
                    <li>قيمة الاستهلاك من دون المستأجر ← <b>A - B</b></li>
                    <li>قيمة الفاتورة الأساسية ← <b>C<sub>A</sub></b></li>
                    <li>قيمة الفاتورة الأساسية من دون المستأجر ← <b>C<sub>A - B</sub></b></li>
                    <li>قيمة فاتورة المستأجر ← <b>X</b></li>
                </ul>
                <div style="text-align: center;">
                    <b>X<sub>1</sub> = (B ÷ A) &times; C<sub>A</sub></b>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <b>X<sub>2</sub> = C<sub>A</sub> - C<sub>A - B</sub></b>
                    <br /><br />
                    <b style="background: #dddddd; padding: 5px; border: 1px dotted grey;">
                        X<sub>avg</sub> = (X<sub>1</sub> + X<sub>2</sub>) ÷ 2
                    </b>
                    <p>أو</p>
                    <b style="background: #dddddd; padding: 5px; border: 1px dotted grey;">
                        [ القيمة الأكبر ما بين X<sub>1</sub>&nbsp;&nbsp;و&nbsp;&nbsp;X<sub>2</sub> ] = X<sub>max</sub>
                    </b>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.querySelector('input').focus();

        window.onkeydown = function (e) {
            if (e.key == 'Enter') {
                document.querySelector('.button').click();
            }
        }

        const app = Vue.createApp({
            data() {
                return {
                    mainKW: null,
                    renterKW: null,
                    totalKwValue: null,
                    totalBillValue: null,
                    fee: 31600,
                    tva: 11,
                    stamp: 1000,
                    tadweer: null,
                    shotoor: [],
                    relative: false,
                };
            },
            computed: {
                renterBillValue: function () {
                    if(this.renterKW < 0 || this.renterKW > 9999)
                        return 0;

                    //Relative value
                    let x1 = Math.ceil((this.renterKW / this.mainKW) * this.totalBillValue);

                    let mainOrgKW = this.mainKW - this.renterKW;
                    //Origin value
                    let x2 = Math.ceil(this.totalBillValue - this.calculate(mainOrgKW).totalBillValue);

                    this.relative = x1 >= x2;

                    console.log('relative: ' + x1 + ', origin: ' + x2);

                    let x = Math.round((Math.ceil((x1 + x2) / 2)) / 1000) * 1000; 
                    let y = Math.round((Math.max(x1, x2)) / 1000) * 1000;
                    
                    return (x >= 0 && x <= this.totalBillValue) ? [x, y] : 0;
                },
                renterRate: function () {
                    let x = Math.round(this.renterKW * 100 / this.mainKW);
                    return ((x >= 0 && x <= 100) ? x : 0) + '%';
                },
                tvaValue: function () {
                    return Math.round((this.totalKwValue + this.fee) * this.tva / 100);
                },
                isRelative: function () {
                    return this.relative;
                }
            },
            methods: {
                calculate: function (x) {
                    let totalKwValue = 0;
                    let shotoor = [
                        { value: 200, cost: 120 },
                        { value: 200, cost: 80 },
                        { value: 400, cost: 55 },
                        { value: 200, cost: 35 }
                    ];

                    if (x <= 200) {
                        totalKwValue = x * 35;
                        shotoor.splice(0, shotoor.length);
                        shotoor.unshift({ value: x, cost: 35 });
                    }
                    else if (x > 200 && x <= 600) {
                        totalKwValue = (200 * 35) + ((x - 200) * 55);
                        shotoor.splice(0, shotoor.length - 1);
                        shotoor.unshift({ value: x - 200, cost: 55 });
                    }
                    else if (x > 600 && x <= 800) {
                        totalKwValue = (200 * 35) + (400 * 55) + ((x - 600) * 80);
                        shotoor.splice(0, shotoor.length - 2);
                        shotoor.unshift({ value: x - 600, cost: 80 });
                    }
                    else if (x > 800 && x <= 1000) {
                        totalKwValue = (200 * 35) + (400 * 55) + (200 * 80) + ((x - 800) * 120);
                        shotoor.splice(0, shotoor.length - 3);
                        shotoor.unshift({ value: x - 800, cost: 120 });
                    }
                    else {
                        totalKwValue = (200 * 35) + (400 * 55) + (200 * 80) + (200 * 120) + ((x - 1000) * 200);
                        shotoor.unshift({ value: x - 1000, cost: 200 });
                    }

                    let total = ((totalKwValue + this.fee) * (1 + (this.tva / 100))) + 1000;

                    let totalBillValue = Math.ceil(total / 1000) * 1000;

                    let tadweer = totalBillValue - Math.floor(total);

                    return {
                        totalKwValue,
                        totalBillValue,
                        tadweer,
                        shotoor
                    };
                },
                display: function () {
                    if (this.mainKW > 0 && this.mainKW < 10000) {
                        let o = this.calculate(this.mainKW);

                        this.totalKwValue = o.totalKwValue;
                        this.totalBillValue = o.totalBillValue;
                        this.tadweer = o.tadweer;
                        this.shotoor = o.shotoor;
                    }
                }
            }
        });
        
        app.mount('#app');
    </script>
</body>

</html>
